.about-sections {
  margin: 0 auto;
  max-width: 996px;
  margin-top: 30px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  column-gap: 8.25rem;
  @media screen and (max-width: 1000px) {
    padding: 0 5vw;
    column-gap: 0;
  }
  .about-main-left {
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
  .about-main-right {
    max-width: 80%;
  }
}
