.sidebar {
  position: fixed;
  width: 240px;
  background-color: #e0e0e5;
  height: 100vh;
  z-index: 999;
  display: flex;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 60px;
  transition: all 0.5s ease;
  top: 75.6px;
  left: 0;
}
